{% extends "layout.html" %}

{% block title %}
    Flack
{% endblock %}  

{% block head %}
    <link rel="stylesheet" href="/static/stylesheets/home.css">
    <script src="/static/js/index.js"></script>
    <script src="/static/js/home.js"></script>
{% endblock %}

{% block body %}
    <div class="navv">
        <div class="name">
            <h2><a href="{{url_for('index')}}">Flack</a></h2>
        </div>
        <input type="text" name="search" class="search" placeholder="Search channel..">
        <div class="user">
            <p class="usrnm">Logged in as : <a onclick="change_username()" href=""><span class="usr"></span></a></p>
        </div>
    </div>
    <div class="sidebar">
        
    </div>
{% endblock %}
