{% extends "layout.html" %}

{% block title %}
    Flack
{% endblock %}

{% block head %}
    <script src="/static/js/index.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}">
{% endblock %}
{% block body %}
    <div class="navv">
        <div class="name">
            <h2><a href="{{url_for('index')}}">Flack</a></h2>
        </div>
        <div class="getstarted">
            <form onclick="usrnm()" action="{{url_for('login')}}" method="POST">
                <input class="btn default" type="submit" value="Get Started">
            </form>
        </div>
    </div>
    <div class="container">
        <div class="main">
            <div class="tagline">
                <h1>Stay.</h1>
                <h1>Connected.</h1>
                <h1>Everywhere.</h1>
                <p>Flack will allow you to create channels and invite your friends to join and chat easily.</p>
            </div>
            <div class="image">
                <img class="airplane" src="/static/images/grey_airplane.png">
                <img class="pc" src="/static/images/discord_svgs.png">
            </div>
        </div>
        <div class="secondline">
            <p>Flack will allow you to create channels and invite your friends to join and chat easily.</p>
        </div>
    </div>
    <div class="footer">
        <br>
        <div class="aboutus">
            About us : 
            <a href="https://github.com/dhaval313" target="_blank"><img class="github" src="static/images/githubico.png"></a>
            <a href="mailto:dashadiadhaval313@gmail.com" target="_blank"><img class="email" src="/static/images/emailico.png"></a>
            <a href="https://twitter.com/__no_0ne" target="_blank"><img class="twitter" src="/static/images/twitterico.png"></a>
        </div>
        <div class="copyrights">
            <div class="copyright">
                <img class="icon" src="/static/images/copyright-icon.png">
                Copyright Flack 2019-2020
            </div>
        </div>
    </div>
{% endblock %}