::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
body{
    font-family: 'Comfortaa', sans-serif;
}
.navv {
    display: flex;
    height: 7vh;
    width: 100%;
    background-color: #1E7AE1;
}
.navv .name{
    height: 100%;
    width: auto;
    margin-top: .5%;
}
.navv a{
    margin-left: 1vw;
    font-size: 25px;
    top: 50%;
    color: #ffffff;
    text-decoration: none;
}
.user{
    display: flex;
    flex-wrap: nowrap;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid white;
    border-color: #4ad5e7;
    display: inline-block;
    margin-top: 3%;
}
.usr{
    left: 50%;
    font-size: 30px;
    color: white;
}
.sidebar{
    text-align: center;
    border-top: 1px solid white;
    border-color: #4ad5e7;
    height: 93vh;
    width: 20vw;
    position: absolute;
    background-color: #4B95E7;
}
.sidebar .edit{
    margin-top: -10px;
    height: 25px;
    width: 25px;
    margin-left: 15px;
}
.sidebar .create{
    cursor: pointer;
    height: auto;
    margin-top: 7%;
    display: inline-block;
    text-align: center;
    width: auto;
    padding: 10px;
    border-radius: 50%;
    align-items: center; 
    background-color: white;
    transition: box-shadow .5s;
}
.sidebar .create:hover{
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
}
.sidebar .channel_name::placeholder{
    color: white;
}
.sidebar #input_name{
    display: none;
}
.sidebar .submit_name{
    color: #1E7AE1;
    background-color: white;
    border-radius: 3px;
    width: 30px;
    margin-bottom: -20px;
    outline: none;
    height: 25px;
    border: none;
    padding-top: 2px;
}
.sidebar .channel_name{
    color: white;
    height: 25px;
    width: 200px;
    padding: 2px;
    margin-top: 5%;
    font-size: 15px;
    outline: none;  
    border-radius: 5px;
    border: 1px solid black;
    background: transparent;
    border-color: white;
    display: inline-block;
}
.sidebar .channels img{
    height: 30px;
    width: 30px;
    display: inline-block;
}
.sidebar .list{
    margin-top: 10%;
    text-align: left;
    
}
.sidebar .list .element{
    color: white;
    font-size: 20px;
    margin-left: 30%;
    word-wrap: break-word;
    margin-right: 20px;
}
.main{
    height: 93vh;
    width: 80vw;
}
.main .send_message{
    left: 20%;
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    bottom: 0;
    width: 80%;
    height: 50px;
    background-color: #5d9fe9;
    
}
.form{
    margin: auto auto;
    width: 100%;
}
.main .send_message .form .message{
    margin: auto auto;
    margin-left: 1%;
    padding-left: 10px;
    outline: none;
    left: 50;
    width: 97%;
    border: 0px;
    height: 35px;
    border-radius: 20px;
}
.main .send_message .send{
    cursor: pointer;
    display: none;
}
